[Desktop Entry]
Terminal=false
Type=Application
Name=OpenChamber
StartupNotify=true
Exec=/usr/bin/bash -lc "~/.local/share/applications/launch-vivaldi-openchamber-web.sh"
Icon=~/.local/share/applications/web_app_icons/openchamber.svg
