[Desktop Entry]
Terminal=false
Type=Application
Name=Trello
Exec=/opt/vivaldi/vivaldi --app=https://trello.com
Icon=~/.local/share/applications/web_app_icons/trello.svg

